<p id="notice"><%= notice %></p>

<h1>Paja-ajat ilmottautuminen</h1>

  <div class="col col-md-10 col-md-offset-1">
    <% @aikas.each do |aika| %>
      <div class="panel panel-default col-md-4">
        <div class="panel-heading">
          <h3 class="panel-title"><%= aika.aika %></h3>
        </div>
        <div class="panel-body">
          Ilmoittautujia: <span class="badge"><%= aika.opiskelijas.count %></span>
          <%= link_to 'Ilmoittaudu', new_opiskelija_path, class: "btn btn-success btn-xs" %>
        </div>
      </div>
    <% end %>
    <% if logged_in? %>
      <%= link_to 'Uusi Aika', new_aika_path, class:"btn btn-success" %>
    <% end %>
  </div>
<br>
