<p id="notice"><%= notice %></p>

<h1>Ilmoittaudu kyselytunnille</h1>

<div class="col col-md-10 col-md-offset-1">
  <ul class="list">
    <% @aikas.each do |aika| %>
    <li class="list-group-item"><%= aika.aika.to_s(:long) %>
    <span class="badge">Osallistujia: <%= aika.opiskelijas.count %></span>

    <%= link_to 'Ilmottaudu', new_opiskelija_path(:aika_id => aika.id), class:"btn btn-xs btn-success" %></li>
    <% end %>
  </ul>
    <% if logged_in? %>
      <%= link_to 'Uusi Aika', new_aika_path, class:"btn btn-success" %>
    <% end %>
  </div>
<br>
